@import "settings"
html
  height: 100%

body
  font-family: $global-font-family
  line-height: $global-line-height
  font-size: $global-font-size
  background-color: $global-background
  min-width: 320px
  position: relative
  height: 100%

.clear:after
  content: ''
  display: block
  clear: both

.hidden
  display: none

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  overflow-wrap: break-word
  word-wrap: break-word
  -webkit-hyphens: auto
  -ms-hyphens: auto
  -moz-hyphens: auto
  hyphens: auto
ul, p, h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0
  
li
  list-style-type: none

button, a
  cursor: pointer

::-webkit-inner-spin-button,
::-webkit-outer-spin-button
  -webkit-appearance: none

a
  text-decoration: none
  
input:invalid
  box-shadow: none

input:-moz-submit-invalid
  box-shadow: none

input:-moz-ui-invalid
  box-shadow: none

input::-ms-clear
  display: none

input[type=number]
  -moz-appearance: textfield

input
  -webkit-appearance: none
  display: inline-block
  &[type="color"],
  &[type="date"],
  &[type="datetime"],
  &[type="datetime-local"],
  &[type="email"],
  &[type="month"],
  &[type="number"],
  &[type="password"],
  &[type="search"],
  &[type="tel"],
  &[type="text"],
  &[type="time"],
  &[type="url"],
  &[type="week"]
    font-size: $global-font-size
    border: 1px solid $black

input::-webkit-input-placeholder
  opacity: 1
  text-overflow: ellipsis

input:-moz-placeholder
  opacity: 1
  text-overflow: ellipsis

input::-moz-placeholder
  opacity: 1
  text-overflow: ellipsis

input:-ms-input-placeholder
  opacity: 1
  text-overflow: ellipsis
  
.container
  width: 100%
  max-width: $global-width
  padding: $global-container-padding
  margin: 0 auto
  background-color: #cccccc
  
.icon-1
  font-size: rem(75px)
  color: #000000

.footer
  text-align: center
  padding: rem(30px) rem(50px)
  background-color: red
