@import "settings"
@media only screen and (max-width: 1439px)
  .container
    max-width: 1200px

@media only screen and (max-width: 1199px)
  .container
    max-width: 1024px

@media only screen and (max-width: 1023px)
  .container
    max-width: 768px

@media only screen and (max-width: 767px)
  .container
    max-width: 576px

@media only screen and (max-width: 540px)
  .container
    max-width: 100%