$imgPath: '../img/'
$fontPath: '../fonts/'
$global-width: 1200px
$global-container-padding: 0 10px
$global-line-height: 1.45
$global-background: #fff

$transition: all ease 0.15s

$white: #ffffff
$black: #000000