@import "settings"
.hidden
  display: none !important
  
.clear:after
  content: ''
  display: block
  clear: both
.container
  max-width: 1200px
  margin: 0 auto

.test
  li
    margin-bottom: 10px
    width: 250px
    height: 100px
    background-color: green
    border-top-right-radius: 80px
    border-bottom-right-radius: 80px
    padding: 30px 70px
    a
      display: inline-block
    img
      display: inline-block
      width: 80px
      height: 40px
      background-color: red