@import "settings"
@import "mixin"
.no-scroll
  overflow-x: hidden
  overflow-y: auto

.no-scroll::-webkit-scrollbar
  width: 0 !important
  -ms-overflow-style: none
  overflow-y: -moz-scrollbars-none

.container
  min-height: 300px
  max-width: calc(1440px + 20px)
  margin: 0 auto
  padding: 0 10px
  background-color: red
  @include breakpoint(mobile-s)
    background-color: blue
