@font-face {
	font-family: "Icons";
	src: url('../fonts/icons/Icons.eot');
	src: url('../fonts/icons/Icons.eot?#iefix') format('eot'),
		url('../fonts/icons/Icons.woff2') format('woff2'),
		url('../fonts/icons/Icons.woff') format('woff'),
		url('../fonts/icons/Icons.ttf') format('truetype'),
		url('../fonts/icons/Icons.svg#Icons') format('svg');
}

@mixin icon-styles {
	font-family: "Icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == arrow {
		$char: "\E001";
	}
	@if $filename == arrow_slider_left {
		$char: "\E002";
	}
	@if $filename == arrow_slider_right {
		$char: "\E003";
	}
	@if $filename == backtotop {
		$char: "\E004";
	}
	@if $filename == basket {
		$char: "\E005";
	}
	@if $filename == clock {
		$char: "\E006";
	}
	@if $filename == community-center {
		$char: "\E007";
	}
	@if $filename == fb {
		$char: "\E008";
	}
	@if $filename == forum-icon-home-page {
		$char: "\E009";
	}
	@if $filename == glossary {
		$char: "\E00A";
	}
	@if $filename == google {
		$char: "\E00B";
	}
	@if $filename == hamburger-mobile-close {
		$char: "\E00C";
	}
	@if $filename == hamburger-mobile-open {
		$char: "\E00D";
	}
	@if $filename == instagram-feed-home {
		$char: "\E00E";
	}
	@if $filename == instgram {
		$char: "\E00F";
	}
	@if $filename == linkedin {
		$char: "\E010";
	}
	@if $filename == logo {
		$char: "\E011";
	}
	@if $filename == my_account {
		$char: "\E012";
	}
	@if $filename == partner-center {
		$char: "\E013";
	}
	@if $filename == pinterest {
		$char: "\E014";
	}
	@if $filename == rss {
		$char: "\E015";
	}
	@if $filename == search {
		$char: "\E016";
	}
	@if $filename == trading-signals {
		$char: "\E017";
	}
	@if $filename == triangle-closed {
		$char: "\E018";
	}
	@if $filename == triangle-open {
		$char: "\E019";
	}
	@if $filename == twitter {
		$char: "\E01A";
	}
	@if $filename == visa {
		$char: "\E01B";
	}
	@if $filename == visa_master {
		$char: "\E01C";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arrow {
	@include icon(arrow);
}
.icon-arrow_slider_left {
	@include icon(arrow_slider_left);
}
.icon-arrow_slider_right {
	@include icon(arrow_slider_right);
}
.icon-backtotop {
	@include icon(backtotop);
}
.icon-basket {
	@include icon(basket);
}
.icon-clock {
	@include icon(clock);
}
.icon-community-center {
	@include icon(community-center);
}
.icon-fb {
	@include icon(fb);
}
.icon-forum-icon-home-page {
	@include icon(forum-icon-home-page);
}
.icon-glossary {
	@include icon(glossary);
}
.icon-google {
	@include icon(google);
}
.icon-hamburger-mobile-close {
	@include icon(hamburger-mobile-close);
}
.icon-hamburger-mobile-open {
	@include icon(hamburger-mobile-open);
}
.icon-instagram-feed-home {
	@include icon(instagram-feed-home);
}
.icon-instgram {
	@include icon(instgram);
}
.icon-linkedin {
	@include icon(linkedin);
}
.icon-logo {
	@include icon(logo);
}
.icon-my_account {
	@include icon(my_account);
}
.icon-partner-center {
	@include icon(partner-center);
}
.icon-pinterest {
	@include icon(pinterest);
}
.icon-rss {
	@include icon(rss);
}
.icon-search {
	@include icon(search);
}
.icon-trading-signals {
	@include icon(trading-signals);
}
.icon-triangle-closed {
	@include icon(triangle-closed);
}
.icon-triangle-open {
	@include icon(triangle-open);
}
.icon-twitter {
	@include icon(twitter);
}
.icon-visa {
	@include icon(visa);
}
.icon-visa_master {
	@include icon(visa_master);
}
